<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict/>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.google.oauth2</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.673837093726-u0gq3h8fr7dnea6b8bm917og4o6jut64</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
